{
	"arrowParens": "avoid",
	"singleQuote": false,
	"jsxSingleQuote": false,
	"useTabs": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"semi": true,
	"proseWrap": "always",
	"endOfLine": "crlf",
	"plugins": ["prettier-plugin-tailwindcss"]
}
