@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-[#030303];
}

.nav-btn {
	@apply rounded-full px-5 py-2 hover:bg-gradient-to-tr hover:from-[#5e5e5e] hover:via-[#212020] hover:to-[#1c1c1c];
}
.nav-btn-active {
	@apply rounded-full px-5 py-2 font-medium text-[#ff014f] hover:bg-gradient-to-tr hover:from-[#5e5e5e] hover:via-[#212020] hover:to-[#1c1c1c];
}

.menu {
	@apply ml-auto flex h-14 w-14 items-center justify-center rounded-full bg-[#ff014f] text-white md:hidden;
}
.dropdown {
	@apply border-y-[3px] border-[#040500] bg-[#1c1c1c] py-3 text-center text-xl font-medium text-white transition ease-in-out hover:cursor-pointer hover:bg-[#2a2a2a] hover:text-[#ff014f] sm:py-5;
}

.resume {
	@apply hidden rounded-md bg-[#ff014f] px-6 py-2 font-medium text-white shadow-[#ff014d82] md:block;
}

.heading {
	@apply abel-regular pb-3 flex justify-center text-8xl text-zinc-300;
}

.skills-card {
	@apply abel-regular-thin absolute flex w-72 justify-end border-b border-[#ff014f] pt-10 text-lg text-[#ff014f];
}
.abel-regular {
	font-family: "Abel", sans-serif;
	font-weight: 600;
	font-style: normal;
}
.abel-regular-thin {
	font-family: "Abel", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.yellowtail-regular {
  font-family: "Yellowtail", cursive;
  font-weight: 400;
  font-style: normal;
}